<!--<ion-header>

  <ion-navbar>
    <ion-title>Bedrijven</ion-title>
  </ion-navbar>

</ion-header>-->
<ion-header>
  <ion-navbar no-border-bottom>

    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="all">
        Bedrijven
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorieten
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon name="ios-arrow-dropdown-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   placeholder="Zoedken">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="segment">
    <!--<div  *ngSwitchCase="'all'">-->
    <div *ngIf="excludeGroups.length > 0">
      <p text-center ion-text>
        Weggefilterd:
        <span *ngFor="let exItem of excludeGroups" item-start style="height: 10px;display: inline-block;width: 10px;border-radius: 5px;margin-left: 3px;margin-right: 3px;" [style.background-color]="exItem"></span>
      </p>
    </div>
    <h5 text-center ion-text color="primary" *ngIf="segment == 'favorites' && favoriteCompanies.length < 1">Je hebt nog geen favorieten toegevoegd.</h5>
    <div *ngIf="waiting" text-center ion-text class="spinner-container">
        <p></p>
        <ion-spinner></ion-spinner>
    </div>
    <ion-list *ngFor="let group of groupedCompanies">
      <div *ngIf="{ filteredCompanies: group.companies | groupSelection | favoriteSelection | fullTextSearch:queryText:searchableList } as piped">
      <!--nog melding weergeven als er geen resultaten zijn-->
      <ion-item-divider *ngIf="piped.filteredCompanies.length != 0" light>{{group.letter}}</ion-item-divider>
      <ion-item-sliding *ngFor="let company of piped.filteredCompanies; let last = last; let i = index;"  #slidingItem>
        <ion-item (click)="presentDetails(company)">
          <div style="float:left;">

            <div *ngFor="let category of company.categories" style="float:left;">
              <canvas width="4" height="40" [ngStyle]="{'background': category}"></canvas>
              <div style="width:8px"></div>
            </div>

          </div>
          <div style="padding-left: 40px;">
            <h3>{{company.name}}</h3>
            <p>Standnummer: {{company.standno}}</p>
          </div>
        </ion-item>
        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, company)" *ngIf="segment === 'all'">
            <ion-icon name="md-heart"></ion-icon>Favoriet
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, company, 'Verwijder favoriet')" *ngIf="segment === 'favorites'">
            <ion-icon name="md-remove-circle"></ion-icon>Verwijder
          </button>
        </ion-item-options>
        <span *ngIf="last">{{loadingReady()}}</span>
      </ion-item-sliding>
      </div>
    </ion-list>

  <!--</div>-->
</div>

</ion-content>
